@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
:root {
  --border-color: orange;
}

html,
body {
  overflow: hidden;
  background-color: hwb(116 2% 33%);
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 425px;
  border: 10px solid var(--border-color);
  margin: 50px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(230, 240, 230);
}

.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

.card .text-container #head {
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
  margin: 60px auto 60px auto;
}

.card p {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: 'Nobile';
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid var(--border-color);
  backface-visibility: hidden;
  background-color: hwb(65 5% 9%);
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: rgb(115-50, 163-50, 191-50);
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3),
    inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(210, 220, 210);
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid var(--border-color);
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: rgb(230, 240, 230);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.cover-shape-large {
  position: absolute;
  width: 65%;
  height: 48%;
  top: 25%;
  left: 18%;
    border-radius: 100px;

   animation-name: example;
  animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 5;
    animation-iteration-count: infinite;
  transform: rotateZ(45deg);
}
@keyframes example {
  from {transform: rotateZ(45deg);}
  to {transform: rotateZ(360deg);}
}

.cover-shape-large .shape-block,
.cover-shape-large .shape-diamond {
  background-color: #84c6cb;
    border-radius: 400px 4880px 900px 8000px;
}

img {
  width: 120%;
  position: absolute;
  left:-20px;
}
.cake {
  width: 300%;
}
